.tab {
    border-collapse: collapse;
    li.active {
        background-color: $light1;
    }
    li {
        display: inline;
        padding: 8px 16px;
        border: solid 1px $dark-2;
        cursor: pointer;
    }

}